# Copy this file to android/keystore.properties and replace placeholders.
# Do not commit android/keystore.properties.

# Path to your release keystore file.
# You can use an absolute path or a path relative to android/app.
VANIR_UPLOAD_STORE_FILE=app/vanir-release-key.keystore

# Keystore password
VANIR_UPLOAD_STORE_PASSWORD=CHANGE_ME

# Key alias inside the keystore
VANIR_UPLOAD_KEY_ALIAS=vanir-key

# Key password (usually same as store password)
VANIR_UPLOAD_KEY_PASSWORD=CHANGE_ME


Generating 2,048 bit RSA key pair and self-signed certificate (SHA256withRSA) with a validity of 10,000 days
        for: CN=AHMED ROSHDI, OU=VANIR GROUP, O=VANIRGROUP, L=CAIRO, ST=NEW CAIRO, C=EG
[Storing android/app/vanir-release-key.keystore]